<a href="https://colab.research.google.com/github/meganrice/BSAN-6070-Computer-Assignments/blob/main/Megan_Rice_CA06_kNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Your name: Megan Rice
## Assignment Name: CA06 - kNN based Recommender Engine


# Program Inititialization Section

In [438]:
#importing packages
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier, NearestNeighbors

# Data File Reading Section

The data contains thirty movies, including data for each movie across seven genres and their IMDB ratings. The labels column values are all zeroes because we aren’t using this data set for classification or regression. You can ignore this column. The implementation assumes that all columns contain numerical data.

Additionally, there are relationships among the movies that will not be accounted for (e.g. actors, directors, and themes) when using the KNN algorithm simply because the data that captures those relationships are missing from the data set. Consequently, when we run the KNN algorithm on our data, similarity will be based solely on the included genres and the IMDB ratings of the movies.

Note: 0 = No, 1 = Yes

In [439]:
#reading in the data
df = pd.read_csv('https://github.com/ArinB/CA05-kNN/raw/master/movies_recommendation_data.csv')
df.head()

   Movie ID          Movie Name  IMDB Rating  ...  Mystery  History  Label
0        58  The Imitation Game          8.0  ...        0        0      0
1         8          Ex Machina          7.7  ...        1        0      0
2        46    A Beautiful Mind          8.2  ...        0        0      0
3        62   Good Will Hunting          8.3  ...        0        0      0
4        97        Forrest Gump          8.8  ...        0        0      0

[5 rows x 11 columns]

# Initial Data Investigation Section

## Summarized details

In [440]:
#statistical description of data
df.describe()

        Movie ID  IMDB Rating  Biography  ...    Mystery    History  Label
count  30.000000    30.000000  30.000000  ...  30.000000  30.000000   30.0
mean   48.133333     7.696667   0.233333  ...   0.100000   0.100000    0.0
std    29.288969     0.666169   0.430183  ...   0.305129   0.305129    0.0
min     1.000000     5.900000   0.000000  ...   0.000000   0.000000    0.0
25%    27.750000     7.300000   0.000000  ...   0.000000   0.000000    0.0
50%    48.500000     7.750000   0.000000  ...   0.000000   0.000000    0.0
75%    64.250000     8.175000   0.000000  ...   0.000000   0.000000    0.0
max    98.000000     8.800000   1.000000  ...   1.000000   1.000000    0.0

[8 rows x 10 columns]

In [441]:
#displaying number of total rows and columns of the dataset
df.shape

(30, 11)

In [442]:
#number of non-null values for each column
df.count()

Movie ID       30
Movie Name     30
IMDB Rating    30
Biography      30
Drama          30
Thriller       30
Comedy         30
Crime          30
Mystery        30
History        30
Label          30
dtype: int64

In [443]:
#number of null values in each column
#no missing values
df.isnull().sum()

Movie ID       0
Movie Name     0
IMDB Rating    0
Biography      0
Drama          0
Thriller       0
Comedy         0
Crime          0
Mystery        0
History        0
Label          0
dtype: int64

In [444]:
#displaying range, column, number of non-null objects of each column, datatype, and memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Movie ID     30 non-null     int64
 1   Movie Name   30 non-null     object
 2   IMDB Rating  30 non-null     float64
 3   Biography    30 non-null     int64
 4   Drama        30 non-null     int64
 5   Thriller     30 non-null     int64
 6   Comedy       30 non-null     int64
 7   Crime        30 non-null     int64
 8   Mystery      30 non-null     int64
 9   History      30 non-null     int64
 10  Label        30 non-null     int64
dtypes: float64(1), int64(9), object(1)
memory usage: 2.7+ KB

In [445]:
#displaying top 5 and bottom 5 rows
df.head()

df.tail()

    Movie ID                        Movie Name  ...  History  Label
25        17                    Thor: Ragnarok  ...        0      0
26        12  Spirit: Stallion of the Cimarron  ...        0      0
27         1                     Hacksaw Ridge  ...        1      0
28        86                  12 Years a Slave  ...        1      0
29        46                    Queen of Katwe  ...        0      0

[5 rows x 11 columns]

## Cleansing the dataset

The labels column values are all zeroes because we aren’t using this data set for classification or regression. You can ignore this column. The implementation assumes that all columns contain numerical data.

In [446]:
#dropping Label column since we aren't using this data for classification or regression
df.drop(columns= 'Label', inplace= True)
df.head()

   Movie ID          Movie Name  IMDB Rating  ...  Crime  Mystery  History
0        58  The Imitation Game          8.0  ...      0        0        0
1         8          Ex Machina          7.7  ...      0        1        0
2        46    A Beautiful Mind          8.2  ...      0        0        0
3        62   Good Will Hunting          8.3  ...      0        0        0
4        97        Forrest Gump          8.8  ...      0        0        0

[5 rows x 10 columns]

In [447]:
#displaying  final columns
df.columns

Index(['Movie ID', 'Movie Name', 'IMDB Rating', 'Biography', 'Drama',
       'Thriller', 'Comedy', 'Crime', 'Mystery', 'History'],
      dtype='object')

# Building Recommender System

In [448]:
#making input variables for fitting
x = df[['IMDB Rating', 'Biography', 'Drama', 'Thriller', 'Comedy', 'Crime', 'Mystery', 'History']]
y = df['Movie Name']

In [449]:
#using Nearestneighbors and fit
neigh = NearestNeighbors(n_neighbors=5)
neigh.fit(x,y)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

Following is the genre information about the movie “The Post”:

IMDB Rating = 7.2, Biography = Yes, Drama = Yes, Thriller = No, Comedy = No, Crime = No, Mystery = No, History = Yes

In [450]:
#implementing recommendation based on the movie "The Post"
the_post = [7.2,1,1,0,0,0,0,1]
return_distance, recs = neigh.kneighbors([the_post])
print(recs)

[[28 27 29 16  2]]

In [451]:
#creating for loop to find 5 movie recommendations
for movie in recs:
    print("Recommended Movies:")
    print(df.iloc[movie]['Movie Name'])

Recommended Movies:
28    12 Years a Slave
27       Hacksaw Ridge
29      Queen of Katwe
16      The Wind Rises
2     A Beautiful Mind
Name: Movie Name, dtype: object

## Automated Version

In [452]:
#adding "The Post" into the dataset
#IMDB Rating = 7.2, Biography = Yes, Drama = Yes, Thriller = No, Comedy = No, Crime = No, Mystery = No, History = Yes
df.loc[len(df.index)] = [100, 'The Post', 7.2, 1, 1, 0, 0, 0, 0, 1] 
df.tail()

    Movie ID                        Movie Name  ...  Mystery  History
26        12  Spirit: Stallion of the Cimarron  ...        0        0
27         1                     Hacksaw Ridge  ...        0        1
28        86                  12 Years a Slave  ...        0        1
29        46                    Queen of Katwe  ...        0        0
30       100                          The Post  ...        0        1

[5 rows x 10 columns]

In [453]:
def make_recommendation(movie_name):
    #making input variables for fitting
    x = df[['IMDB Rating', 'Biography', 'Drama', 'Thriller', 'Comedy', 'Crime', 'Mystery', 'History']]
    y = df['Movie Name']

    #using Nearestneighbors and fit
    neigh = NearestNeighbors(n_neighbors=6)
    neigh.fit(x,y)

    #creating row slice for the selected movie
    movie_slice = df.loc[df["Movie Name"] == movie_name]

    #creating a list of the movie information needed to create recommendations
    movie_info = movie_slice[['IMDB Rating', 'Biography', 'Drama', 'Thriller', 'Comedy', 'Crime', 'Mystery', 'History']].values.tolist()

    #implementing recommendation based on selected movie
    return_distance, recs = neigh.kneighbors([movie_info[0]])
    
    #creating for loop to find 5 movie recommendations
    for movie in recs:
        top_recs = df.iloc[movie]['Movie Name']

    return print(f"Recommended Movies:\n{top_recs[1:]}")

In [454]:
make_recommendation("The Post")

Recommended Movies:
28    12 Years a Slave
27       Hacksaw Ridge
29      Queen of Katwe
16      The Wind Rises
2     A Beautiful Mind
Name: Movie Name, dtype: object

## What recommendations he/she will see?

12 Years a Slave

Hacksaw Ridge

Queen of Katwe

The Wind Rises

A Beautiful Mind